    <link href="https://fonts.cdnfonts.com/css/reforma-1918" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/bethanya" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/maghikle" rel="stylesheet">

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  display: flex;
}
.name {
  position: fixed;
  top: 7px;
  left: 87px;
  font-family: 'Reforma 1918', sans-serif;
  font-size: 28px;
  font-weight: 720;
  font-style: italic;
  color: white;
  text-transform: capitalize;
  z-index:10;
}

.name span {
  display: block;
}

.name .line-one {
  margin-left: 0px;
  text-transform: capitalize;
}

.name .line-two {
  display: block;
  font-size: 26px;
  font-weight: 600;
  font-style: italic;
  color: white;
  text-transform: capitalize;
  margin-left: 20px; /* Adjust this value as needed */
  margin-top: -15px;
}

.name .line-two span {
  display: inline-block;
}

.name .phd {
  font-family: "Ink Free", cursive;
  font-size: 30px;
  font-weight: 700;
  font-style: italic;
  color: white;
  text-transform: capitalize;
}

.name-bottom {
  position: fixed;
  bottom: 10px;
  left: 20px;
  font-family: 'Reforma 1918', sans-serif;
  font-size: 10px; /* Adjust the font size as needed */
  font-weight: 700;
  font-style: italic;
  color: white;
}
